*{box-sizing:border-box;}
p,h1,h2,h3,h4,h5,h6,pre,ul,ol,dl,dd,body{
	margin:0;
	padding:0;
	list-style:none;
}
.lf{float:left;}
.rt{float:right;}
.clear{clear:both;}
body{
	font-size:12px;
	color:#333;
}
a{
	color:#666;
	text-decoration:none;
}
a:hover{
	text-decoration:underline;
}
#information,#technical,#photography,#article,#footer{
	width:1200px;
	margin:0 auto;
}
#home{
	height:768px;
	width:1349px;
	background:#ddd url(../images/banner.jpg) no-repeat center bottom;
}
#home:before{
	content:"";
	display:table;
}
/*logo*/
#logo{
	margin:50px 0 50px 50px;
}
#logo>img{
	vertical-align:middle;
}
#logo a{
	color:#FFF;
	font-size:24px;
	margin-right:10px;
}
#nav{
	display:flex;
	margin-left:50px;
}
#nav>li{
	margin-right:10px;
}
#nav>li>a{
	color:#fff;
	font-size:24px;
	padding:10px 10px;
	border-top:2px solid transparent;
	border-bottom:2px solid transparent;
}
#nav>li>a:hover{
	border-color:#fff;
	text-decoration:none;
}
#contact{
	margin:100px 0 0 1000px;
}
/*个人信息*/
#information{
	display:flex;
	flex-wrap:wrap;
	margin:10px auto;
	background:url(../images/bg17.jpg);
	padding-left:10px;
}
#information>h1{
	width:1200px;
}
#information div.left{
	width:400px;
}
#information-photos{
	width:400px;
	display:flex;
	align-items:flex-start;
}
#information-photos ul{
	width:80px;
	text-align:center;
	background:#fff;
}
#information-photos ul li i.top{
	display:inline-block;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-bottom:10px solid #333;
}
#information-photos ul li i.bottom{
	display:inline-block;
	border-left:10px solid transparent;
	border-right:10px solid transparent;
	border-top:10px solid #333;
}
#information-photos ul li img{
	width:66px;
}
#information-photos p{
	width:300px;
	border:5px solid #fff;
}
p img{
	width:290px;
	display:none;
}
	
		:target{
		display:block;
	}
#information-text{
	width:100px;
}
#information div.right{
	width:780px;
}
#information div.right table{
	width:600px;
	margin-left:20px;
	border:1px solid #ddd;
	padding:10px;
	border-collapse:collapse;
}
#information div.right table td{
	border:1px solid #ddd;
	text-align:center;
	font-size:16px;
	height:30px;
	background-color:rgba(33,33,33,0.7);
	color:#fff;
	font-weight:bold;
}
/*个人技能*/
#technical{
	background:url(../images/technical_bg.jpg);
}
#technical>h1{
	text-align:center;
}
#technical-box{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
#technical-box>dl{
	width:350px;
	text-align:center;
	background:rgba(99,99,99,0.3);
	padding:0 50px;
	margin-top:20px;
}
#technical-box>dl>dt{
	width:150px;
	height:150px;
	line-height:150px;
	margin:10px auto;
	border:10px solid #999;
	border-radius:50%;
	font-size:48px;
}
#technical-box>dl>dd{
	line-height:25px;
	width:250px;
}
/*摄影天地*/
#photography{
	margin:10px auto;
	background:#f3f3f3;
}
#photography h1{
	text-align:center;
}
#photography>ul{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-around;
}
#photography>ul>li{
	margin-bottom:10px;
}
#photography>ul>li img{
	width:280px;
	margin:10px;
	border:10px solid #fff;
	transition:transform 0.5s;
}
#photography>ul>li img:hover{
	transform:scale(1.1);
}
#photography>ul>li h4{
	text-align:center;
}
/*好文推荐*/
#article{
	background:url(../images/article_bg.jpg);
	min-height:500px;
}
#article>h1{
	padding-top:10px;
	text-align:center;
}
#article-box a{
	color:#fff;
	font-size:16px;
	display:inline-block;
	height:42px;
	width:219px;
}
#article-box{
	margin-top:10px; 
	display:flex;
}
#article-box>ul{
	width:300px;
	padding:10px 20px;
	background:rgba(9,9,9,0.7);
}
#article-box>ul>li{
	line-height:40px;
}
#article-box>ul>li:hover{
	background:rgba(204,51,51,0.7);
}
#article-box>ul>li:hover b{
	background:none;
}
#article-box>ul>li b{
	padding:3px 5px;
	color:#fff;
	background:#e4393c;
}
#article-container{
	width:900px;
	background:#fff;
	padding:10px 20px;
}
